@font-face {
    font-family: "light-cairo";
    // font-weight: normal;
    src: url(../../fonts/cairo/static/Cairo-Light.ttf) format('truetype');
}
@font-face {
    font-family: "extra-ligth-cairo";
    // font-weight: normal;
    src: url(../../fonts/cairo/static/Cairo-ExtraLight.ttf) format('truetype');
}
@font-face {
    font-family: "regular-cairo";
    // font-weight: normal;
    src: url(../../fonts/cairo/static/Cairo-Regular.ttf) format('truetype');
}
@font-face {
    font-family: "medium-cairo";
    // font-weight: normal;
    src: url(../../fonts/cairo/static/Cairo-Medium.ttf) format('truetype');
}
@font-face {
    font-family: "semi-bold-cairo";
    // font-weight: normal;
    src: url(../../fonts/cairo/static/Cairo-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: "bold-cairo";
    // font-weight: normal;
    src: url(../../fonts/cairo/static/Cairo-Bold.ttf) format('truetype');
}
@font-face {
    font-family: "extra-bold-cairo";
    // font-weight: normal;
    src: url(../../fonts/cairo/static/Cairo-ExtraBold.ttf) format('truetype');
}
@font-face {
    font-family: "black-cairo";
    // font-weight: bold;
    src: url(../../fonts/cairo/static/Cairo-Black.ttf) format('truetype'); 
}

