.icon {
    &-edit {
        background-image: url("../../images/icon/black/edit.svg");
    }
    &-list {
        background-image: url("../../images/icon/black/lab_profile.svg");
    }
    &-delete {
        background-image: url("../../images/icon/delete_forever_red.svg");
    }
    &-edit,
    &-list,
    &-delete {
        width: 20px;
        height: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}